<div id="page_wrapper">
	<div id="content">
		<h2> A place for all things random..</h2>
		<h3><i>Life is like topography. There are summits of happiness and success, flat stretches of boring routine and valleys of frustration and failure.<i><h3>
	</div>
	<div id="image">
		<%= image_tag "calvinandhobbes.jpg" %>
	</div>
</div>
