<div id="post_content">
<h1 class="title">
	<%= @post.title %><br>
        <p class="date" style="font-weight:normal; font-size: 12px;">
		Submitted <%= time_ago_in_words(@post.created_at) %> ago
	</p>
</h1>
<p class="body">
	<%= @post.body %>
</p>
</div>
